@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
    border: 0;
}

.mymodal{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-container {
    display: none;
    background-color: #fefefe;
    margin: auto;
    padding: 80px;
    padding-top: 30px;
    border: 1px solid black;
    width: 50%;
    -webkit-animation: fadein 1s; 
    animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media screen and(max-width: 560px) {
    .modal-container {
        width: 100%;
    }
}

.header {
    font-size: medium;
    color: rgb(92, 103, 115);
}

.modal-open {
    cursor: pointer;
    color: white;
    background-color: blue;
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem;
    text-align: center;
    font-size: 3rem;
    margin-left: 40%;
}

.buttons {
    display: inline-flex;
    float: right;
}

.btn-success {
    cursor: pointer;
    color: white;
    background-color: green;
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin: 1rem;
}

.btn-danger {
    cursor: pointer;
    color: white;
    background-color: red;
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin: 1rem;
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,.close:focus {
    color: #000;
    cursor: pointer;

  }